<footer class="kidfresh-footer">
    <div class="footer-top">
        <div class="logo">kidfresh</div>
        <nav>
            <a href="#">our meals</a>
            <a href="#">markets near me</a>
            <a href="#">meet us</a>
            <a href="#">more to know</a>
            <a href="#">message us</a>
        </nav>
    </div>

    <div class="footer-bottom">
        <p>© Copyright 2025 Kidfresh. All Rights Reserved.
            Website by <a href="#">Echo Boomer Design</a>.
        </p>
        <p>
            <a href="#">Privacy Policy</a> |
            <a href="#">Terms of Service</a>
        </p>
    </div>
</footer>
{% schema %}
{
  "name": "footer",
  "settings": [
   

  ],
  "blocks": [],
  "presets": [
    {
      "name": "footer",
    }
  ]
}
{% endschema %}
<style>
.main_flower{
    background-color: green;
    padding : 0px 100px;
}
.main_box{
    display: flex;
}
</style>