<div class="main_flower">
 <div class="main_box">
    <div>
        <div>q</div>
        <div>w</div>
    </div>
 </div>
</div>
{% schema %}
{
  "name": "footer",
  "settings": [
   

  ],
  "blocks": [],
  "presets": [
    {
      "name": "footer",
    }
  ]
}
{% endschema %}
<style>
{% comment %} .main_flower{
    background-image: url(https://cdn.shopify.com/s/files/1/0577/3957/5488/files/Group_275_94dece83-8b98-4413-8e5e-3904735d6be5.png?v=1764588870);
} {% endcomment %}
</style>