<div class="main_flower">
 <div class="main_box">
    <div>
        <div>q</div>
        <div>w</div>
    </div>
 </div>
</div>
{% schema %}
{
  "name": "footer",
  "settings": [
   

  ],
  "blocks": [],
  "presets": [
    {
      "name": "footer",
    }
  ]
}
{% endschema %}
<style>

</style>