<div class="main_flower">
 <div class="main_box">
   
        <div>q</div>
        <div>w</div>
    
 </div>
</div>
{% schema %}
{
  "name": "footer",
  "settings": [
   

  ],
  "blocks": [],
  "presets": [
    {
      "name": "footer",
    }
  ]
}
{% endschema %}
<style>
.main_flower{
    background-color: green;
}
.main_box{
    display: flex;
}
</style>