{% comment %} <div class="main_flower">
 <div class="main_box">
   
        <div>
            <img src="https://cdn.shopify.com/s/files/1/0577/3957/5488/files/LOGO_1.png?v=1764589138">
        </div>
        <div>w</div>
    
 </div>
</div>
{% schema %}
{
  "name": "footer",
  "settings": [
   

  ],
  "blocks": [],
  "presets": [
    {
      "name": "footer",
    }
  ]
}
{% endschema %}
<style>
.main_flower{
    background-color: green;
    padding : 0px 100px;
}
.main_box{
    display: flex;
}
</style> {% endcomment %}