.header__menu-item{
    font-size:23px;
}
.announcement-bar p {
    font-family: var(--font-family) !important;
   font-size: 21px !important; 
   line-height:43px !important;
   font-weight: 400 !important;
}

.announcement-bar, .announcement-bar__announcement{
    flex-wrap: nowrap !important; 
}
.header__active-menu-item{
    text-decoration: none !important;
}
.header__icons{
      align-items: center !important;
}
.header__icon .icon{
    color : #F8971D !important;
}

@media (max-width: 768px) {
    .announcement-bar__message {
   font-size: 14px; 
   line-height: 21px;
}
.footer__content-top.page-width{
    padding:0px 15px !important;
}
ul.footer-block__details-content.list-unstyled li a{
    font-size: 20px !important;
}
}
