.header__menu-item{
    font-size:23px;
}
.announcement-bar__message {
    font-family: "GT Walsheim";
   font-size: 21px; 
   line-height:43px;
   font-weight: 400;
}

.header__active-menu-item{
    text-decoration: none !important;
}
.header__icons{
      align-items: center !important;
}
.header__icon .icon{
    color : #F8971D !important;
}

@media (max-width: 768px) {
    .announcement-bar__message {
   font-size: 14px; 
   line-height: 21px;
}
}
