.header__menu-item{
    font-size:23px;
}
 #cb-widget-currency{
  display :none !important;
}
.announcement-bar{
    padding : 11px 0px !important;
}
image-height-wrapper{
    background-color: #0F4735;
}
.announcement-bar p {
    font-family: var(--font-family);
    text-align: center;
    align-content:center;
   font-size: 21px; 
   line-height:43px;
   margin: 0px;
   font-weight: 400;
}

.announcement-bar, .announcement-bar__announcement{
    flex-wrap: nowrap !important; 
}
.header__active-menu-item{
    text-decoration: none !important;
}
.header__icons{
      align-items: center !important;
}
.header__icon .icon{
    color : #F8971D !important;
}
@media screen and (min-width: 769px) and (max-width: 1449px) {
  .kf-breadcrumbs-wrapper {
    padding: 38px 80px !important;
  }
  .faq-tabs {
        gap: 25px !important;
    }
}
@media (min-width:1025px) and (max-width: 1119px){
    .filter-title{
        font-size:32px !important;
    }
        .faq-custom-container {
        padding: 0 90px !important;
    }    
    .faq-tabs {
        gap: 20px !important;
    }

}
@media (min-width:769px) and (max-width: 1024px){
    .announcement-bar p {
        font-size: 18px;
        line-height: 24px;
    }
}

@media (max-width: 768px) {
    .announcement-bar p {
   font-size: 14px; 
   line-height: 21px;
}
.footer__content-top.page-width{
    padding:0px 50px;
}
ul.footer-block__details-content.list-unstyled li a{
    font-size: 20px !important;
}
}

@media (max-width: 480px) {
    .footer__content-top.page-width{
    padding:0px 20px;
}
}